@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@700&display=swap');

h1, h2, h3, h4, h5, h6 {
   font-family: 'Roboto Slab', serif;
}

.caption {
   font-family: 'Roboto Slab', serif;
}

/* h4, h5, h6 {
   font-family: 'Lato', sans-serif;
} */

p {
   font-family: 'Lato', sans-serif;;
}

.wy-side-nav-search{ background-color:#A9A9A9 }


/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}
